html, body {
	background: #eceff1;
	scroll-behavior: smooth;
}

.news-container .card-title {
  background: rgba(0, 0, 0, 0.7);
}

.card .card-title {
	font-size: 18px;
	line-height: 24px;
}

.card .card-image {
	min-height: 150px;
	background: #546e7a;
}

.card .card-image .card-title {
	padding: 10px 24px;
	width: 100%;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
}

@media screen and (min-width: 767px) {
	.news-container .grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-flow: dense;
	}
}

@media screen and (min-width: 991px) {
	.news-container .grid-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 1200px) {
	.news-container .grid-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

input[type=text]:not(.browser-default):focus:not([readonly]),
.select-wrapper input.select-dropdown:focus {
	border-bottom: 1px solid #546e7a;
  -webkit-box-shadow: 0 1px 0 0 #546e7a;
  box-shadow: 0 1px 0 0 #546e7a;
}

.dropdown-content li > a,
.dropdown-content li > span {
	color: #546e7a;
}

.page-footer {
  padding-top: 0px;
}

.progress {
	z-index: 1003;
	margin: 0;
	background-color: #546e7a;
}
.progress .indeterminate {
	background-color: #eeff41;
}
